name: live channel 1

on:
  push:
    branches:
      - main
  schedule:
    - cron: '55 */5 * * *'  # auto restart every 5 hours

jobs:
  stream:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install ffmpeg -y

      - name: channel 2 live
        env:
          YT_URL: ${{ secrets.YOUTUBE_URL }}
        run: |
          ffmpeg -re -stream_loop -1 -i "https://pub-b19fa9b28a6640638cebf21d187c3e25.r2.dev/live/k3.mp4" \
            -c:v libx264 -preset veryfast \
            -g 96 -keyint_min 96 \
            -b:v 1000k -maxrate 1000k -bufsize 1000k \
            -pix_fmt yuv420p -profile:v baseline -level 3.1 \
            -c:a aac -ar 44100 -b:a 96k -ac 2 \
            -f flv rtmp://a.rtmp.youtube.com/live2/mqfp-05kv-ub86-ay2s-e7ua
