ffmpeg -re -stream_loop -1 -i streadd.mp4 \
-c:v libx264 -preset veryfast -g 120 -keyint_min 120 \
-b:v 100k -maxrate 1500k -bufsize 2000k \
-pix_fmt yuv420p -profile:v high -level 4.0 \
-c:a aac -ar 44100 -b:a 128k -ac 2 \
-f flv rtmp://a.rtmp.youtube.com/live2/eqxa-djk3-cc2d-gsat-453z
