name: Stream Trivia Video to YouTube

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */5 * * *'  # auto restart every 6 hours

jobs:
  stream:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install ffmpeg -y

      - name: Stream video to YouTube
        env:
          YT_URL: ${{ secrets.YOUTUBE_URL }}
        run: |
          ffmpeg -re -stream_loop -1 -i streadd.mp4 \
            -c:v libx264 -preset veryfast \
            -g 96 -keyint_min 96 \
            -b:v 600k -maxrate 700k -bufsize 1000k \
            -pix_fmt yuv420p -profile:v baseline -level 3.1 \
            -c:a aac -ar 44100 -b:a 96k -ac 2 \
            -f flv rtmp://a.rtmp.youtube.com/live2/jbw0-ahvv-efu8-y049-fsst

